<div class="row">
<div class="col-sm-4">
  {{#link-to "comments.new" class="btn btn-primary btn-block"}} Add new Comment{{/link-to}}
<ul class="list-group">
{{#each model as |comment|}}
{{#unless comment.isNew}}
{{#link-to 'comments.comment' comment tagName="li"}}<a href>{{comment.body}}</a>{{/link-to}}
{{/unless}}
{{/each}}
{{infinity-loader infinityModel=model loadingText="Loading..." loadedText="All Loaded!"}}
</ul>
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>
